name: Build Example
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        
      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
          
      - name: Build
        run: npm install && npm run build

      - name: Zip
        run: zip -r project_bundle.zip .

      - name: Verification
        run: ls -alhR
