name: Complete Example

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: '15'

      - name: Install dependencies
        run: npm install

      - name: Build and bundle app
        run: zip -r app.zip ./

      - name: Run unit tests
        run: npm test

      - name: Code coverage report
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage/

