name: Dependencies Example 
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Setup Node.js
        run: actions/setup-node@v4.4.0
      - name: Verification
        run: ls -alhR
