name: Production Deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Production deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.PROD_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull daschaherck/devops:latest

            docker stop calculator || true
            docker rm calculator || true

            docker run -d \
              --name calculator \
              -p 80:3000 \
              daschaherck/devops:latest
