name: Production Deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connect to EC2 and deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.PROD_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Pull latest Docker image
            docker pull daschaherck/devops:latest

            # 2. Stop running containers
            docker stop calculator || true
            docker rm calculator || true

            # 3. Run latest version on port 80
            docker run -d \
              --name calculator \
              -p 80:3000 \
              daschaherck/devops:latest
