name: test-deployment

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  deployment:
    runs-on: 
      self-hosted
      
    steps:
      - name: Pull latest image
        run: docker pull daschaherck/devops:latest

      - name: Stop running container
        run: |
          docker stop calculator || true
          docker rm calculator || true

      - name: Run container
        run: |
          docker run -d \
            --name calculator \
            -p 3000:3000 \
            daschaherck/devops:latest
